.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  z-index: 1000;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.nav-link {
  color: #002856;
  padding: 10px 15px;
  text-decoration: none;
  position: relative;
}

.logo {
  width: 200px;  /* Adjust width */
  height: auto;  /* Keep aspect ratio */
}





.social-icons a {
  color: #002856;
  font-size: 20px;
  text-decoration: none;
}

.btn-orange {
  background-color: #f15423;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-orange:hover {
  background-color: #313385;
  color: #ee5e0a;
}

.hero {
  background: url('/images/demenageur.png') no-repeat center center/cover;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 40px;
  color: white;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content {
  z-index: 2;
}
@media (max-width: 768px) {

}

.cta-btn {
  background-color: #f47c22;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 20px;
}
.cta-btn-u{
  background-color: #f47c22;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 20px;
}
.cta-btn-u:hover {
  background-color: #080599;
  color: #ff7300;
}
@media (max-width: 768px) {
  .cta-btn-u {
    background-color: #f47c22;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 10px;
  }
}

.cta-btn:hover {
  background-color: #080599;
  color: #ff7300;
}

.cta-btn-us {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 30px;
  text-decoration: white;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .cta-btn-us {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    font-size: 1rem;
    border-radius: 30px;
    text-decoration: white;
    margin-top: 10px;
  }
}

.cta-btn-us:hover {
  border: 1px solid rgb(255, 62, 3);
  color: #ff7300;
}


.cta-form {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 40px 20px rgba(0, 0, 0, 0.1);
}

.h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #1d3557;
}

.section-heading {
  justify-content: flex-start;
  padding-left: 70px;
  font-weight: bold;
  color: #1d3557;
}

.content-section {
  background-color: #f8f9fa;
  padding: 40px 0;
}

.title {
  font-weight: 700;
  font-size: 3rem;
  color: #1d3557;
}

.subheading {
  color: black;
  font-weight: 600;
  text-align: left;
}

.description {
  color: #1d3557;
  font-size: 1rem;
}

.icon-box {
  background: #fff;
  box-shadow: 0 8px 11px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.icon-box:hover {
  transform: translateY(-10px);
}

.icon-box h4 {
  margin-top: 15px;
  font-weight: 700;
}

.icon-box p {
  color: #1d3557;
  margin-top: 10px;
}

.icon-box i {
  font-size: 40px;
  color: #f48225;
}

.h4 {
  color: #1d3557;
}

.icon-circle {
  width: 50px;
  height: 50px;
  background-color: #f47c22;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.icon-circle:hover {
  background-color: #080599;
  color: #ff7300;
}

.icon-circle i {
  color: white;
  font-size: 1.5rem;
}

.btn-orange {
  background-color: #f47c22;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  text-transform: uppercase;
}

.btn-orange:hover {
  background-color: #080599;
  color: #ff7300;
}

.vertical-line {
  border-left: 1px solid #ddd;
  height: 100px;
  margin: auto;
}

.review-image {
  max-width: 50%;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}

.containers {
  background-color: #e4e5e7ef;
  padding: 30px;
  border-radius: 8px;
}



.hero2 {
  background: url('/images/Log.png') fixed center center/cover;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-left: 40px;
  color: rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .hero2 {
    background: url('/images/Log.png') fixed center center/cover;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 40px;
    color: rgb(255, 255, 255);
  }
}

.hero-overlay2 {
  background-color: rgba(11, 52, 85, 0.644);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.network-heading {
  text-align: center;
  margin-top: 10px;
  color: #1a1a1a;
}

.network-heading h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1d3557;
}

.network-heading h2 {
  font-size: 0.8rem;
}

.network-heading p {
  font-size: 1.5rem;
  color: #f48225;
}




.breadcrumb-item+.breadcrumb-item::before {
  content: "/";
  color: rgb(255, 98, 7);
}

.breadcrumb-item a {
  color: white;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: white;
}

.orange-bar {
  width: 7px;
  height: 100%;
  background-color: rgb(255, 102, 0);
  position: absolute;

}











.info-box {
  text-align: center;
  padding: 20px;
  background: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}

.info-box h5 {
  font-weight: 700;
  color: #1a1a1a;
}

.info-box p {
  color: #6c757d;
}

.btn-custom {
  width: 180px;
  margin: 10px;
}

.btn-orange {
  background-color: #ff6600;
  color: #fff;
}

.btn-orange:hover {
  background-color: #080599;
  color: #ff7300;
}

.world-map img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.btn-get {
  background-color: #f47c22;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 30px;
  text-decoration: none;
  margin-top: 20px;
}

.btn-get:hover {
  background-color: #0a094e;
  color: #ff7300;
}

.footer {
  background-color: #e8eff7;
  padding: 20px;
}
.footer p{
  text-align: justify;
}
.footer img {
  height: 30%;
  width: 70%;
}

.footer .social-icons a {
  color: #064c92;
  font-size: 20px;
  margin-right: 10px;
}

.footer .social-icons a:hover {
  color: #007bff;
}
@media (max-width: 768px) {
  .footer ul{
    
    font-size: 12px;
    text-align: left;
  }
}

.footer-bottom {
  background-color: #0d355e;
  color: #fff;
  text-align: center;
  padding: 30px;
 
}

.footer-bottom a {
  color: #ffc107;
  text-decoration: none;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.subscribe-btn {
  background-color: #ff7a34;
  color: #fff;
  border-radius: 30px;
  border: none;
}

.subscribe-btn:hover {
  background-color: #17165e;
  color: #ff7300;
}

.photo-section {
  position: relative;
  background-image: url('/images/cartoon.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px;
}


.photo-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 52, 85, 0.925);
  z-index: 1;
}


.photo-content {
  position: relative;
  z-index: 2;
}

.photo-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.photo-content p {
  margin-bottom: 10px;
}

.photo-content .btn-primary {
  background-color: #ff7700;
  border: none;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  iframe {
    width: 100%;
    height: 400px;
  }
  
  }

:root {
  --primary-blue: #002244;
  --accent-orange: #f58220;
  --text-gray: #6c757d;
}

.header-section {
  background-color: var(--primary-blue);
  color: white;
  padding: 3rem 0;
  text-align: center;
}

.header-section h2 {
  font-size: 2.5rem;
  margin: 0;

}

.stats {
  display: flex;
  justify-content: space-around;
  background-color: var(--accent-orange);
  color: white;
  text-align: center;
}

.stats .stat {
  text-align: center;
}

.stats .stat h3 {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.stats .stat p {
  margin: 0;
  font-size: 1.1rem;
}

.stats-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f15423;
  padding: 10px 0;
}
.stat {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials {
  padding: 2rem;
  text-align: justify;

}

.testimonials h3 {
  color: var(--primary-blue);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.testimonials p.subtitle {
  color: var(--text-gray);
  margin-bottom: 1.5rem;
}

.testimonial-box {
  display: flex;
  font-weight: 200;
  font-size: 15px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 100%;
}

.testimonial-box .quote-icon {
  position: absolute;
  bottom: 0.2rem;
  right: 1.5rem;
  font-size: 4rem;
  color: var(--accent-orange);
}

.testimonial-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.testimonial-box .user-details {
  margin-left: 1rem;
}

.testimonial-box .user-name {
  font-weight: bold;
  margin: 0;
}

.testimonial-box .user-role {
  margin: 0;
  font-size: 0.9rem;
  color: var(--accent-orange);
}


.testimonial-image img {
  max-width: 80%;
  border-radius: 8px;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  transition: all 0.3s ease;
}
#topBtn {
  position: fixed;
  bottom: 15px;
  left: 15px;
  display: none;
  background-color: #fc4903;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
#topBtn:hover {
  background-color: #1606a3;
}

.fixed-btn,
.fixed-btn1,
.fixed-btn2 {
    right: 1%;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    position: fixed;
    z-index: 1000
}

.fixed-btn a,
.fixed-btn1 a,
.fixed-btn2 a {
    text-transform: uppercase;
    font-family: arial;
    color: #fff !important
}

.fixed-btn {
    bottom: 160px;
    background: #fc7100;
    padding-right: .5px;
    padding-top: 9px
}

.fixed-btn1 {
    bottom: 100px;
    background: #00097c;
    line-height: 45px;
    padding-right: .5px;
    padding-top: 2px;
    transform: rotate(90deg) !important
}

.fixed-btn2 {
    bottom: 40px;
    background: #00e676;
    line-height: 45px
}

.fixed-btn a,
.fixed-btn1 a {
    font-size: 25px
}

.fixed-btn2 a {
    font-size: 30px
}

.fixed-btn a:hover
{
  color: #000264 !important;
  transition: .7s
}
.fixed-btn1 a:hover{
  color: #fc5c00 !important;
  transition: .7s
}
.fixed-btn2 a:hover {
    color: #000 !important;
    transition: .7s
}

.list-unstyled a{
    display: inline-block;
    color: rgb(65, 65, 85);
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  .list-unstyled a:hover {
    color: orangered;
  }

  .herooo {
    background: url('/images/Devis.jpg') center/cover no-repeat;
    color: white;
    height: 50vh;
    position: relative;
    padding: 100px 0;
}

.herooo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.herooo-content {
    position: relative;
    z-index: 2;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    color: rgb(255, 98, 7);
}

.breadcrumb-item a {
    color: white;
    text-decoration: none;
}

.breadcrumb-item.active {
    color: white;
}

.orange-bar {
    width: 7px;
    height: 100%;
    background-color: rgb(255, 102, 0);
    position: absolute;

}
.contact-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    margin: 40px auto;
    border-top: 4px solid #e65100;
}

.contact-card h2 {
    font-weight: bold;
    color: #1e0b49;
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.contact-item i {
    font-size: 24px;
    color: #1e0b49;
    margin-right: 15px;
}

.contact-item:last-child {
    border-bottom: none;
}

.contact-item p {
    margin: 0;
    font-size: 16px;
}

.contact-item strong {
    color: #1e0b49;
}

.heroC {
  background: url('/images/customer-service.jpg') center/cover no-repeat;
  color: white;
  height: 50vh;
  position: relative;
  padding: 100px 0;
}

.heroC::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.heroo::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.container2 img {
  width: auto;
  height: 45rem;
}
.container P {
  text-align: justify;
}

.container3 img {
  width: 50rem;
  height: 40rem;
}

@media (max-width: 768px) {
  .container1 img {
      width: 45rem;
      height: 20rem;
  }
}

.test {

  text-align: justify;
  margin: 0;

}

@media (max-width: 768px) {
  .test {
      text-align: justify;
      margin: 0;
      padding-left: 2.5rem;
      padding-right: 3rem;
  }
}
.container1 img {
  width: 60rem;
  height: 27rem;
}
